<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>My Blog</title>
	<link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../bootstrap/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="../css/main.css">
</head>
<body>
	<header class="">
		<div class="navbar-fixed-top">
			<div class="bg-header-left col-md-1 visible-lg visible-md">
				<br>
				<br>
				<br>
				<br>
				<br>
			</div>			
			<div class="bg-header col-xs-12 col-md-10 container-fluid">
				<div class="">
					Ariel Last Name
				</div>
				<div>Professional Stylist</div>
				<nav class="">
					<div class="btn-toolbar margin-menu">
					<ul class="">
						<li><a class="btn" href="file:///C:/AppServ/www/Stylist/Home.html">Home</a></li>
						<li><a class="btn" href="file:///C:/AppServ/www/Stylist/Views/Aboutme.html#">About me</a></li>
						<li><a class="btn" href="file:///C:/AppServ/www/Stylist/Views/Job.html#">Job</a></li>
						<li><a class="btn" href="file:///C:/AppServ/www/Stylist/Views/Gallery.html#">Gallery</a></li>
						<li><a class="btn" href="#">Blog</a></li>
						<li><a class="btn" href="file:///C:/AppServ/www/Stylist/Views/Contact.html#">Contact</a></li>
					</ul>
					</div>
				</nav>
			</div>
			<div class="bg-header-right col-md-1 visible-lg visible-md">
				<br>
				<br>
				<br>
				<br>
				<br>
			</div>
		</div>
	</header>
	<div class="container-fluid bg-body">
		<div class="content-margin bg-content col-sm-11">
			<div class="row temp">
				<section class="col-xs-12">
					<br>
					 <h4 class="border-bt">Article 1 Title 1...LEE AL FINAL DE CADA ARTICULO PARA INSTRUCCIONES</h4>
					 <p class="text-right">03/03/2015</p>
					 <p class="text-justified">
					 	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro quaerat cupiditate in, nesciunt accusantium corporis saepe voluptate necessitatibus architecto ullam et dignissimos dolor, maiores earum similique voluptatem odio culpa vel.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores ad optio repudiandae, ullam quisquam consequatur, eos voluptatibus voluptate! Expedita accusantium aliquid eaque recusandae similique laborum aut doloribus repellat, assumenda fuga. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur praesentium cumque earum maiores molestias dolor impedit soluta natus, aliquid ipsam sapiente placeat unde similique fugit tempora eveniet officia ab accusantium.
					 </p>
					 <p class="text-justified">
					 	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur praesentium cumque earum maiores molestias dolor impedit soluta natus, aliquid ipsam sapiente placeat unde similique fugit tempora eveniet officia ab accusantium. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro quaerat cupiditate in, nesciunt accusantium corporis saepe voluptate necessitatibus architecto ullam et dignissimos dolor, maiores earum similique voluptatem odio culpa vel.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores ad optio repudiandae, ullam quisquam consequatur, eos voluptatibus voluptate! Expedita accusantium aliquid eaque recusandae similique laborum aut doloribus repellat, assumenda fuga. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur praesentium cumque earum maiores molestias dolor impedit soluta natus, aliquid ipsam sapiente placeat unde similique fugit tempora eveniet officia ab accusantium.
					 </p>
					 <p class="text-justified">
					 	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores ad optio repudiandae, ullam quisquam consequatur, eos voluptatibus voluptate! Expedita accusantium aliquid eaque recusandae similique laborum aut doloribus repellat, assumenda fuga. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro quaerat cupiditate in, nesciunt accusantium corporis saepe voluptate necessitatibus architecto ullam et dignissimos dolor, maiores earum similique voluptatem odio culpa vel.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores ad optio repudiandae, ullam quisquam consequatur, eos voluptatibus voluptate! Expedita accusantium aliquid eaque recusandae similique laborum aut doloribus repellat, assumenda fuga. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur praesentium cumque earum maiores molestias dolor impedit soluta natus, aliquid ipsam sapiente placeat unde similique fugit tempora eveniet officia ab accusantium.
					 </p>					
					<br>
					<div>
						<strong>Comments 15</strong>
						<br>
						--------------------------------------------------------------------------------------- 
						<br>	
						Comentarios aqui, si quieres muestras nada mas la palabra <strong>"Comments 15 "</strong> y el numero de al lado seria la cantidad de comentarios que tiene este articulo.
					</div>
					<br>
				</section>
			</div>
			<div class="row temp">
				<section class="col-xs-12">
					<br>
					 <h4 class="border-bt">Article 2 Title 2...LEE AL FINAL DE CADA ARTICULO PARA INSTRUCCIONES</h4>
					 <p class="text-right">03/02/2015</p>
					 <p class="text-justified">
					 	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro quaerat cupiditate in, nesciunt accusantium corporis saepe voluptate necessitatibus architecto ullam et dignissimos dolor, maiores earum similique voluptatem odio culpa vel.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores ad optio repudiandae, ullam quisquam consequatur, eos voluptatibus voluptate! Expedita accusantium aliquid eaque recusandae similique laborum aut doloribus repellat, assumenda fuga. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur praesentium cumque earum maiores molestias dolor impedit soluta natus, aliquid ipsam sapiente placeat unde similique fugit tempora eveniet officia ab accusantium.
					 </p>
					 <p class="text-justified">
					 	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur praesentium cumque earum maiores molestias dolor impedit soluta natus, aliquid ipsam sapiente placeat unde similique fugit tempora eveniet officia ab accusantium. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro quaerat cupiditate in, nesciunt accusantium corporis saepe voluptate necessitatibus architecto ullam et dignissimos dolor, maiores earum similique voluptatem odio culpa vel.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores ad optio repudiandae, ullam quisquam consequatur, eos voluptatibus voluptate! Expedita accusantium aliquid eaque recusandae similique laborum aut doloribus repellat, assumenda fuga. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur praesentium cumque earum maiores molestias dolor impedit soluta natus, aliquid ipsam sapiente placeat unde similique fugit tempora eveniet officia ab accusantium.
					 </p>
					 <p class="text-justified">
					 	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores ad optio repudiandae, ullam quisquam consequatur, eos voluptatibus voluptate! Expedita accusantium aliquid eaque recusandae similique laborum aut doloribus repellat, assumenda fuga. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro quaerat cupiditate in, nesciunt accusantium corporis saepe voluptate necessitatibus architecto ullam et dignissimos dolor, maiores earum similique voluptatem odio culpa vel.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores ad optio repudiandae, ullam quisquam consequatur, eos voluptatibus voluptate! Expedita accusantium aliquid eaque recusandae similique laborum aut doloribus repellat, assumenda fuga. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur praesentium cumque earum maiores molestias dolor impedit soluta natus, aliquid ipsam sapiente placeat unde similique fugit tempora eveniet officia ab accusantium.
					 </p>					
					<br>
					<div>
						<strong>Comments 21</strong>
						<br>
						--------------------------------------------------------------------------------------- 
						<br>	
						Igual que el de arriba, esto es pa que te guies como debes mostrar todos los comentarios, trata de ordenarlos por fecha, que te salga el mas actual primero. Si quieres puedes usar el paginado para los articulos o los comentarios, es cosa tuya. Ahh, si te parece agrega algun <strong>div</strong> para agregarle alguna imagen a cada articulo en caso de que la requiera.
					</div>
					<br>
				</section>							
			</div>
		</div>		
	</div>
	<footer>
		<div class="row">
			<div class="bg-footer-left col-md-1 visible-lg visible-md">
				<br>
				<br>
				<br>
				<br>
				<br>
			</div>
			<div class="bg-footer col-sm-12 col-md-10 container footer-padding">
				<div class="col-xs-7 pull-right">
					Write the footer here
				</div>
				<div class="col-xs-7 pull-right">
					using the whole
				</div>
				<div class="col-xs-7 pull-right">
					 three lines
				</div>
			</div>
			<div class="bg-footer-right col-md-1 visible-lg visible-md">
				<br>
				<br>
				<br>
				<br>
				<br>
			</div>
		</div>
	</footer>
	<!----------Scripts----------- -->
	<script src="../bootstrap/js/jquery-1.11.1.js"></script>
	<script src="../bootstrap/js/bootstrap.min.js"></script>
</body>
</html>